body {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  background: url(../../img/khaker.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  .button {
    background-color: rgb(0, 12, 33);
    color: white;
    font-size: 40px;
    font-weight: 800;
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
  }
  .wrapper {
    margin: auto 0;
    height: 100%;
    width: 100%;
    max-width: 300px;
    max-height: 200px;
    background-color: rgb(1, 27, 52);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    p {
      color: white;
      font-size: 20px;
    }
  }
}
