.wrapper {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.wrapper__list {
  width: 30%;
  min-height: 550px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  li {
    padding: 10px;
  }
}
.list__characters {
  display: none;
  animation: go 3s ease;
}
@keyframes go {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
