.card {
  margin: 0 auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  max-width: 800px;
  margin-bottom: 10px;
  p {
    font-size: 20px;
    text-align: center;
    padding: 0 20px;
  }
  button {
    color: red;
    background-color: black;
    border-radius: 5px;
    margin-bottom: 10px;
  }
}
